<div class="center">
  <h2>购买历史记录</h2>
</div>


<table class="table table-striped table-bordered">
  <tr>
    <th class="center">图片</th>
    <th class="center">名称</th>
    <th class="center">价格</th>
    <th class="center">卖家</th>
    <th class="center">时间</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td class="center"><%= image_tag order.listing.image.url(:thumb) %></td>
      <td class="center"><%= order.listing.name %></td>
      <td class="center">¥<%= order.listing.price %></td>
      <td class="center"><%= order.seller.name %></td>
      <td class="center"><%= order.created_at.strftime("%B %-d, %Y") %></td>
    </tr>
  <% end %> 
</table>


<br />
<% if user_signed_in? %>
  <%= link_to '添加新物品', new_listing_path, class: "btn btn-link" %>
<% end %>